body {
    margin: 0;
    width: auto;
    background-color: #1b1b1b;
    color: white;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #000000, #4D4855);
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    position: sticky;
    position: -webkit-sticky;
    top: 5px;
}

.container {
    display: inline-block;
}

.title {
    background-image: linear-gradient(to right, #12100E, #2B4162);
    text-align: center;
    border-radius: 10px;
    width: 100%;
    position: relative;
    margin: auto;
    color: black;
}

.mainBox {
    display: flex;
    box-sizing: border-box;
    overflow: auto;
    margin: 0px;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.wrapperMain {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: calc(100vh - 142px);
}

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.heading {
    display: block;
    font-size: 50px;
    width: 100%;
}

.info {
    width: 100%;
}

.subBox {
    margin: 25px
}

.text {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 2s steps(22),
        cursor .6s step-end 7 alternate;
    border-right: 0px solid;
    font-size: 20px;
    font-family: "Silkscreen", sans-serif;
    color: rgb(98, 229, 185);
    text-shadow:
        0 0 10px #0fa;
    background-color: rgb(6, 90, 62);
}

.navBTN:hover {
    box-shadow: 0px 4px 10px white;
    filter: brightness(150%);
    transform: translateY(-2px) scale(1.01);
    z-index: 999;
}

.navBTN:active  {
    filter: blur(0.5px);
}

.close {
    width: 10px;
    display: block;
    cursor: pointer;
    transition: all 1s ease-in-out;
    z-index: -1;

}

.close:hover {
    transform: rotate(180deg);
}

.sideNav {
    box-sizing: border-box;
    border-radius: 5px;
    width: calc(100vw - 85vw);
    overflow: auto;
    padding: 10px;
    background-image: linear-gradient(180deg, rgba(32, 38, 57, 1) 0%, rgba(17, 19, 24, 0) 50%);
    z-index: 5;
}

.BTNnav {
    position: absolute;
    z-index: 0;
    font-size: 0px;
    cursor: pointer;
}

.BTNnav.visible {
    font-size: 30px;
}
.sideNav.hidden {
    width: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width:900px) {
    .sideNav {
        padding: 0;
        width: 450px;
    }
}

@media screen and (max-width: 425px) {
    .text {
        font-size: 15px;
    }

    .wrapperMain {
        height: calc(100vh - 127px);
    }

    .navBTN:hover {
        box-shadow: 0px 0px 0px white;
    }

    .subBox {
        margin: 5px;
    }

    .sideNav {
        width: 0;
    }

    .sideNav.hidden {
        width: 705px;
        padding: 0;
        overflow: hidden;
    }

    .heading {
        padding-top: 20px;
    }
    .BTNnav{
        font-size: 30px;
    }
}

@keyframes cursor {
    0% {
        border-right: 3px solid #000;
    }

    50% {
        border-right: 3px solid transparent;
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    5% {
        color: rgb(0, 0, 0);
    }

    10% {
        color: rgb(98, 229, 185);
    }

    15% {
        color: #000;
    }

    20% {
        color: rgb(98, 229, 185);
    }

    35% {
        color: #000;
    }
}

.box1 {
    height: 85px;
    width: 100%;
    border-radius: 8px;
    background-image: linear-gradient(to top, #101825, #2B4162);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    color: white;
    z-index: 0;
}

.box1:hover {
    box-shadow: 0px 8px 20px white;
    filter: brightness(150%);
    transform: translateY(-8px) scale(1.01);
    z-index: 999;
}

.box1:active {
    filter: brightness(90%);
}

.box1 p {
    margin: 0;
}

.navBar a {
    text-decoration: none;
}

.navBTN {
    box-sizing: border-box;
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    background-image: linear-gradient(to top, #101825, #2B4162);
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
    color: white;
    z-index: 0;
    text-decoration: none;

}


@supports (scrollbar-color: auto) {
    .mainBox {
        scrollbar-color: #2c2c2c #1b1b1b;
        scrollbar-width: thin;
    }
}

::selection {
    color: rgb(98, 229, 185);
    text-shadow:
        0 0 10px #0fa;
    background-color: rgb(6, 90, 62);
}

::-moz-selection {
    color: rgb(98, 229, 185);
    text-shadow:
        0 0 10px #0fa;
    background-color: rgb(6, 90, 62);
}