body {
    margin: 0;
    width: auto;
    background-color: #1b1b1b;
    color: white;
    overflow-x:hidden;
  }
  

  body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #4e4e4e;
  }

  
  .navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    background-color: #1b1b1b;
}

.container{ display: inline-block;}
.text{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: 
  typing 2s steps(22),
  cursor .6s step-end 7 alternate;
  border-right: 0px solid;
  font-size: 20px;
  font-family: "Silkscreen", sans-serif;

}

@keyframes cursor{
  0% {border-right: 3px solid #000; }
  50% {border-right: 3px solid transparent; }
}
@keyframes typing {
  from {width: 0;}
}

.box1 {
    height: 100px;
    width: 100px;
    margin: 25px;
    border-radius: 10px;
    background-color: aquamarine;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    border: none;
}
.box1:hover{
  filter: brightness(70%);
}
.box1:active{
  filter: brightness(90%);
}

.box1 p {
    margin: 0;
}

.navBar a{
  text-decoration: none;
}
  .title {
    background-color: antiquewhite;
    text-align: center;
    border-radius: 10px;
    width: 50%;
    position: relative;
    margin: auto;
    color: black;
   
  }

  @media screen and (max-width: 900px) {
   .text{
    font-size: x-small;
   }
  }

  @media screen and (max-width: 400px) {
    .text{
     font-size: xx-small;
    }
   }
   @media screen and (max-width: 375px) {
    
   }